@using WeatherAPI.Data.OpenWeatherAPIModels;
@model CurrentWeather

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.wind.speed</p>
</div>
